* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #F4F5FB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
    margin-inline: auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto 100px auto;
}

.back-link {
    display: block;
    color: #CA3884;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #080B12;
    margin-bottom: 50px;
    text-align: left;
}

#add-item {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

#add-item input {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #D1D5DB;
    border-radius: 12px;
    font-size: 16px;
    color: #080B12;
}


#add-item button {
    background: #CA3884;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#item-list {
    list-style: none;
    margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 10px;
    border: 2px solid #D1D5DB;
    border-radius: 12px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.item label {
    flex: 1;
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    color: #080B12;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #CA3884;
}

.alert {
    background: #C93847;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.close-btn {
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}